@model contentCreator.Models.UserModel

<h2>Create User</h2>

<form asp-controller="User" asp-action="TestCreate" method="post">
	<div class="mb-3">
		<label for="exampleInputName" class="form-label">Name</label>
		<input asp-for="Name" type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp"></input>
	</div>
	<div class="mb-3">
		<label for="exampleInputEmail" class="form-label">Email</label>
		<input asp-for="Email" type="email" class="form-control" id="exampleInput" aria-describedby="emailHelp"></input>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
	<script>
		
	</script>
}
